<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/**
|
| To get an facebook app details you have to be a registered developer
| at http://developer.facebook.com and create an app for your project.
|
 * @see ../libraries/Facebook.php
 */
$config['facebook_appId']               = 'YOUR_APP_ID';
$config['facebook_appSecret']           = 'YOUR_APP_SECRET';
$config['facebook_autoLogin']           = FALSE;
$config['facebook_redirectUri']         = 'YOUR_RETURN_URL_TO_GET_TOKEN';
$config['facebook_redirectUriLogout']   = 'YOUR_RETURN_URL_AFTER_LOGOUT';
$config['facebook_permissions']         = array(
); // Array of permissions
$config['facebook_accessTokenUrl']      = 'https://graph.facebook.com/oauth/access_token';
